extends layout

block content
  div
    div.row
      div.col-md-6
        legend Info
        p
          strong
            a(href="https://modubot.net") Modubot.js
          |  running on&nbsp;
          strong
            =hostname
          |  (
          =process.platform + ' ' + process.arch
          | ).
        p
          strong Uptime:&nbsp;
          =moment.duration((process.uptime() * 1000)).humanize()
      div.col-md-6
        legend Plugins
        table.table.table-striped
          thead
            tr
              th Name
              th Version
              th Description
          tfoot
            tr
              th Total:
              td= Object.keys(bot.plugins).length / 2
              td
          tbody
            each plugin in bot.plugins
              tr
                td= bot.plugins[plugin].title
                td= bot.plugins[plugin].version
                td= bot.plugins[plugin].description