extends layout

block content
  div
    div.row
      div.col-md-12
        table.table.table-striped
          thead
            tr
              th Channel
              th From
              th Message
              th Date
          tbody
            each log in logs
              tr
                td= log.channel
                td= log.from
                td= log.message
                td= log.createdAt