div.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/') Modubot
  div.navbar-collapse.collapse
    ul.nav.navbar-nav
      li(class=(menu === 'home' ? 'active' : ''))
        a(href='/') Home
      li(class=(menu === 'channels' ? 'active' : ''))
        a(href='/channels') Channels
    ul.nav.navbar-nav.pull-right
      li
        a(href='#')= bot.nick + ' on ' + bot.opt.server